<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "RegMod Service" ?>
<?define Manufacturer = "Company" ?>
<?define Version = "1.0.0.0" ?>
<?define UpgradeCode = "9ED3FF33-8718-444E-B44B-69A2344B7E98" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<!-- Define the directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">

				<!-- Create a folder inside program files -->
				<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">

					<!-- Create a folder within the parent folder given the name -->
					<Directory Id="INSTALLFOLDER" Name="$(Name)" />
				</Directory>
			</Directory>
		</Directory>

		<!-- The files inside this DirectoryRef are linked to
             the RegMod directory via INSTALLFOLDER -->
		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Create a single component which is the RegMod.exe file -->
			<Component Id="ServiceExecutable" Bitness="always64">

				<!-- Copies the RegMod.exe file using the
                     project reference preprocessor variables -->
				<File Id="RegMod.exe"
                      Source="$(var.RegMod.TargetDir)RegMod.exe"
                      KeyPath="true" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="RegMod"
                                DisplayName="$(Name)"
                                Description="RegMod Service."
                                Start="auto"
								Account="LOCALSYSTEM"
                                ErrorControl="normal" />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
                                Start="install"
                                Stop="uninstall"
                                Remove="uninstall"
                                Name="RegMod"
                                Wait="true" />
			</Component>
			<!-- Create a single component which is the RegMod.exe file -->
			<Component Id="Newtonsoft.Json.dll" Bitness="always64">
				<File Id="Newtonsoft.Json.dll"
                      Source="$(var.RegMod.TargetDir)Newtonsoft.Json.dll"
                      KeyPath="true" />
			</Component>
			<Component Id="OSVersionExt.dll" Bitness="always64">
				<File Id="OSVersionExt.dll"
                      Source="$(var.RegMod.TargetDir)OSVersionExt.dll"
                      KeyPath="true" />
			</Component>
		</DirectoryRef>

		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="RegMod" Level="1">
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="Newtonsoft.Json.dll" />
			<ComponentRef Id="OSVersionExt.dll" />
		</Feature>

	</Package>
</Wix>
